.content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.content-friend {
  width: 100%;
  display: flex;
}

.content-friend-buttons {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 5px;
}

.content-friend-buttons li {
  margin: 0px 10px;
  text-decoration: none;
  color: black;
  border-radius: 0.5rem;
}

.content-friend-buttons li:hover {
  background-color: #424549;
  color: white;
}

.content-friend-buttons li:hover a {
  color: inherit;
}

.content-friend-button {
  display: inline-block;
  position: relative;
  padding: 2px 5px;
  border: solid 1px black;
}

.content-friend-badge {
  position: absolute;
  right: -10px;
  top: -10px;
  min-width: 7px;
  min-height: 7px;
  padding: 5px;
  background-color: #bf1f1f;
  border-radius: 20px;
  border: solid 1px #c93a3a;
}
